site_name: home.profant.eu
site_url: https://home.profant.eu/

theme:
  name: material
  features:
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.tooltips
    - content.tabs.link
    - search.highlight
    - toc.follow
    - navigation.indexes
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.betterem
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.blocks.details
  - admonition
  - pymdownx.tabbed:
      alternate_style: true

extra_css:
  - stylesheets/extra.css

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Kedrigern/
    - icon: fontawesome/brands/mastodon
      link: https://mastodon.pirati.cz/deck/@keddie
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/ondrej-profant/
